<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h1>Google Photos</h1>
        </div>
        <div class="col-md-12 d-flex justify-content-center" *ngIf="isLoading">
            <mat-spinner></mat-spinner>
        </div>
        <!-- <div class="col-md-12" *ngIf="!isLoading">
            <div class="row">
                <div class="col-md-12">
                    <h4>Recent Photos</h4>
                </div>
                <div class="col-md-12">
                    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators">
                        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-2" data-slide-to="1"></li>
                        <li data-target="#carousel-example-2" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox" *ngIf="photos">
                            <div class="carousel-item" *ngFor="let image of photos.mediaItems">
                                <div class="view">
                                <img class="d-block w-100" [src]="image.baseUrl"
                                    alt="First slide">
                                <div class="mask rgba-black-light"></div>
                                </div>
                                <div class="carousel-caption">
                                <h3 class="h3-responsive">{{image.filename}}</h3>
                                <p>First text</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="col-md-12" *ngIf="!isLoading">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" *ngFor="let image of photos.mediaItems">
                    <img [src]="image.baseUrl" class="img-fluid img-rounded">
                    <p>{{image.filename}}</p>
                </div>
            </div>
        </div>
    </div>
</div>