<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-12 mb-3">
      <img *ngIf="userData?.picture" [src]="userData?.picture" style="width: -webkit-fill-available;">
      <button class="mt-3" *ngIf="!userData" mat-button (click)="goToLogin()" class="fullwidth">
        Login
      </button>
    </div> -->
    <!-- <div class="col-md-12">
      <button mat-button (click)="goToHome()" class="fullwidth">
        Home
      </button>
    </div> -->
    <!-- <div class="col-md-12">
  
    </div>
  </div>
</div> -->